body {              
    font-family: Arial, sans-serif;
    background-color: {{ team_color }};
    color: #333;
    font-size: 18px;
    margin: {{ outer_margin }}px;
    transition: all 0.3s ease;
}
