.title_card_display {
                background: #fefefe;  
                border-radius: 12px;          
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
                padding: {{card_padding}}px;            
                width: -webkit-fill-available;                
                width: -moz-available;
                justify-items: center;
                
            }
            .card_display {
                background: #fefefe;  
                border-radius: 12px;          
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
                padding: {{card_padding}}px;            
                width: -webkit-fill-available;
                width: -moz-available;
                max-width: {{ min_width_team_summary }}px;
                /*min-width: fit-content;*/
                justify-content: center;
                justify-items: center;
                overflow: auto;
                grid-template-rows: minmax(min-content, 70px) min-content minmax(min-content, 0px);                
            }

            .table_card {
                display: block;
                justify-self: left;
                
            }