.title_card_display {
                background: #fefefe;  
                border-radius: 12px;          
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
                padding: {{card_padding}}px;            
                width: -webkit-fill-available;                
                width: -moz-available;
                justify-items: anchor-center;
                
            }
            .card_display {
                background: #fefefe;  
                border-radius: 12px;          
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
                padding: {{card_padding}}px;            
                width: -webkit-fill-available;
                width: -moz-available;
                justify-items: anchor-center;
                min-width: max-content;
                display: grid;
                justify-content: center;
                
            }