.container {
    display: grid;
    grid-template-columns: {{min_width_team_summary}}px {{min_width_team_summary}}px minmax({{min_width_previous_games}}px, 1fr);  
    gap: {{card_gap}}px;
    justify-self: anchor-center;
    margin-bottom: {{card_gap}}px;
    justify-self: center;
}           

.container_title {
    justify-self: center;
}