
@media (max-width: {{max_width_medium_screen}}px) {

    .title_card {
        grid-column: span 2;
    }
    .container {
        grid-template-columns: 1fr 1fr;
    }
    .previous_game_card {
        grid-column: 1 / span 2;
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: {{max_width_small_screen}}px) {
    
    .container {
        grid-template-columns: 1fr;
    }

    .top-scorer-label {
        justify-self: center;
        margin-left: 16px;
  
    }
    .show-top5-btn{
        grid-row: 2;
        grid-column: 1;
        align-self: center;
        margin-top: 32px;
        justify-self: center;
        margin-left: 16px;
    }

    .top-scorer-label-opponent {
        display: block;
        justify-self: center;
        align-self: baseline;
        margin-left: 16px;
    }
    .top-scorer-info-opponent {
        grid-row: 2;
        grid-column: 2;
        align-items: center;
        text-align: center;
        align-self: baseline;
    }
    .headshot-img-opponent {
        grid-row: 1 / span 2;  
        grid-column: 3;
        align-self: end;
        justify-self: end;
    }
    .show-top5-btn-opponent{
        grid-row: 2;
        grid-column: 1;
        align-self: center;
        margin-top: 32px;
        justify-self: center;
        margin-left: 16px;
    }

    .upcoming_game{
        grid-row: 1;
    }   
    .upcoming_games_button{
        grid-column: 2;
        justify-self: center;
        align-self: end;
        margin-left: 42px;
    }

    .previous_game_card {
        grid-column: 1;
        grid-template-columns: 1fr;
    }
    .previous_game {
        grid-column: 1 / span 3;
    }

    .title_card {
        grid-template-columns: 150px 1fr;                                      
        }

    .dropdown_wrapper {
        grid-column: span 2;
    }
    
    .tab:hover {       
        margin-bottom: -1px;
    }
}

@media screen and (max-width: {{max_width_smallest_screen}}px) {
    html {
        font-size: 85%; 
    }

    .container {
        grid-template-columns: 90vw;
    }
    .content {
        overflow: auto;
        white-space: wrap;
    }
    .title_card { 
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }
    .dropdown_wrapper {
        grid-column: span 1;
    }
    .card_display{
        min-width: 50vw;

    }

    .top_row_element {
        display: grid;
        grid-template-columns: 1fr 1fr;    
        gap: 2px;
        white-space: wrap;
    }

    .top-scorer-label {
        grid-row: 2;  
        align-self: baseline;
        grid-column: 1;
        margin-left: 16px;
        justify-self: center;
    }    
    .top-scorer-info {
        grid-row: 2;
        grid-column: 1;
        align-items: center;
        text-align: center;
        align-self: center;
        justify-self: center;
        margin-top: 0px;    
        margin-left: 16px;
    }
    .headshot-img {
        grid-row: 2 / span 2;  
        grid-column: 2;
        align-self: end;
        justify-self: end;
        }
    .show-top5-btn{
        grid-row: 3;
        grid-column: 1;
        margin-top: unset;
        align-self: baseline;
        justify-self: center;
    }

    .top-scorer-label-opponent {
        grid-row: 2;  
        align-self: baseline;
        grid-column: 1;
        justify-self: center;
        margin-left: 16px;
    }    
    .top-scorer-info-opponent {
        grid-row: 2;
        grid-column: 1;
        align-items: center;
        text-align: center;
        align-self: center;
        justify-self: center;
        margin-top: 0px;    
        margin-left: 16px;
    }
    .headshot-img-opponent {
        grid-row: 2 / span 2;  
        grid-column: 2;
        align-self: end;
        justify-self: end;
        }  
    .show-top5-btn-opponent{
        grid-row: 3;
        grid-column: 1;
        margin-top: unset;
        align-self: baseline;
        justify-self: center;
    }

    .upcoming_game{
        grid-row: 1;
        grid-column: 1 / span 2;
    }   
    .upcoming_games_button{
        grid-column: 2;
        justify-self: baseline;
        margin-left: 16px;
        align-self: end;
    }
    .team-summary{
        grid-row: 4;
        grid-column: 1 / span 2;
        width: 100%;       
    }

    table{
        place-self: unset;
        white-space: nowrap;
    }

    .table_card{
        justify-items: unset;
        text-align: center;
    }

    .content_modal{
        justify-items: unset;
    }
    .leaders-table{
        width: 100vw;
    }
    .tabs-container{
        justify-content: left;
    }

    .tab:hover {
        margin-bottom: -1px;
    }
}

