.previous_game{
    display: grid
    grid-column: 3;
    justify-items: center;
    width: -webkit-fill-available;
    width: -moz-available;
    min-width: {{min_width_previous_games}};
    max-width: {{min_width_team_summary}};
    justify-content: center;
    display: grid;
    margin: 4px;
}

.previous_game span{
    display: flex;
    align-items: center;
}