.player-compare {
    width: 100%;
    border-collapse: collapse;
    text-align: initial;
    align-self: baseline;
    background-color: #ffffff;
}

.player-compare th {
    font-weight: normal;
    padding: 4px;
    white-space: nowrap;
    background-color: #ffffff;
    font-size:  clamp(0.85rem, 3.5vw, 1.1rem);
}

.player-compare td {
    font-weight: bold;
    padding: 0px;
    background-color: #ffffff;
    font-size:  clamp(0.85rem, 3.5vw, 1.1rem);
}

.player-compare .left {
    text-align: right;

}

.player-compare .right {
    text-align: left;
    
}

