.primary_button {
    padding: 4px;
    border-radius: 4px;
    border: solid lightgrey 1px;
    background: #f3f3f3;            
    justify-self: center;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 10;
    display: flex;
    margin-top: 16px;
}

.primary_button:hover{
    background: #d6d6d6;
}

