.spoiler-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
}
.toggle-spoiler {
    position: absolute;
    width: 100%;
    min-width: fit-content;
    min-height: max-content;
    height: 100%;
    background: rgba(80, 80, 80, 1);
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 12px;
    transform: translateY(-4px);
    z-index: 10;

    span {
        margin-top: 4px;
    }
}
.hide-spoiler {
    display: inline-block;
    position: relative;
}