.more-stats {
    padding: 10px; 
    grid-column: 3;
    grid-row: 1;
    align-self: start;
    justify-self: end;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 10;
}

    /* Hover effect on the icon */
    .more-dots:hover {
        transform: scale(1.2);
    }

    /* stats popup */
    .stats-popup {
        display: none; /* Hidden by default */
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 500px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4); /* Background overlay */
        padding-top: 60px;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
    }

    /* Modal Content */
    .stats-popup-content {
        align-self: baseline;
        background-color: white;
        padding: 4px;  
                          
    }
    .leaders-table{
        border-collapse: collapse;
        width: 490px;  
        font-size: 16px;  
        text-align: left;  
        img {
            max-width: 120px;  
            height: auto;
        }
        td, th {
            padding: 4px 6px;
            margin: 0;
            text-align: left;  
            border: none;  /* No borders */
            border-collapse: collapse;
            background: #ffffff;
            font-size: larger;
        }
    }
    .modal-nav{
        display: grid;
        grid-template-columns: 50px 100px 50px;
        white-space: nowrap;
        align-items: center;
        text-align: center;
    }
        .nav-button{
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;
            padding: 4px;
            color: inherit; /* Matches text color */
        }

        .nav-button:hover {
            color: #007bff; /* Slight color change on hover */
        }