.top-scorer-label {
    grid-row: 2; 
    grid-column: 1;
    align-self: baseline;
  
}
.top-scorer-info {
    grid-row: 2;
    grid-column: 2;
    align-items: center;
    text-align: center;
    align-self: baseline;

}
.headshot-img {
    grid-row: 1 / span 2;  
    grid-column: 3;
    align-self: end;
    /* justify-self: end; */

    }

.headshot-img > img, .headshot-img-opponent > img {    
    max-width: 150px;
    border-radius: 50%;
    border: solid 1px #d1d1d1;
    background: #f2f2f2;
}


.top-scorer-label-opponent {
    grid-row: 2; 
    grid-column: 1;    
    display: none;
    justify-self: baseline;
    margin-left: 16px;
  
}
.top-scorer-info-opponent {
    grid-row: 2;
    grid-column: 2;
    align-items: center;
    text-align: center;
    align-self: baseline;

}
.headshot-img-opponent {
    grid-row: 1 / span 2;  
    grid-column: 1;
    align-self: end;
    /* justify-self: end; */
    }
