    /* stats popup */
    .stats-popup {
        display: none; /* Hidden by default */
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4); /* Background overlay */
        padding-top: 60px;
        justify-content: center;
        align-items: center;
    }

    /* Modal Content */
    .stats-popup-content {
        align-self: baseline;
        background-color: white;
        padding: 4px;  
                          
    }
    .leaders-table{
        border-collapse: collapse;
        width: 490px;  
        font-size: 16px;  
        text-align: left;  
        img {
            max-width: 120px;  
            height: auto;
        }
        td, th {
            padding: 4px 6px;
            margin: 0;
            text-align: left;  
            border: none;  /* No borders */
            border-collapse: collapse;
            background: #ffffff;
        }
    }

    #tabs {
        display: flex;
    }
    
.tabs-container {
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-bottom: 32px;
    border-bottom: 1px solid lightgrey;
    width: 100%;
}

/* Styling for individual tabs */
.tab {
    padding: 10px 20px;
    border-radius: 8px 8px 0 0; /* Rounded top corners like Chrome */
    background: #f3f3f3;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s, box-shadow 0.3s;
    border: 1px solid #ccc;
    border-bottom: none;
}

/* Active tab style */
.tab.active {
    background: white;
    color: black;
    margin-bottom: -1px;
}

/* Hover effect on tabs */
.tab:hover {
    background: #d6d6d6;
}